:root {
    --brown-color: #946c52;
    --lighter-brown-color: #9f7866;
    --pink-color: #e9ccba;
    --dark-grey-color: #b3b3b3;
    --grey-color: #d0c8bb;
    --orange-color: #d0a781;
    --champagne-color: #ddcab4;
    --font-color: #2d2d2d;
}

body, html {
    font-family: 'ZCOOL KuaiLe', cursive;    
    color: var(--font-color);    
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.color-pink {
    color: var(--pink-color);
}

.color-brown {
    color: var(--brown-color);
}

.color-champ {
    color: var(--champagne-color);
}

.color-orange {
    color: var(--orange-color);
}

.font-small {
    font-size: 14px;
}

.font-medium {
    font-size: 16px;
}

.font-large {
    font-size: 20px;
}

.wrapper {
    height: 100vh;
    padding: 8vh 2vw;
}

.page {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    color: var(--pink-color);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
}

.married {
    width: 75%;
    max-width: 300px;
    margin: auto;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../assets/wedding-bg.jpg")no-repeat center center / cover;
    color: var(--pink-color);
    text-align: center;

    h1 {
        font-size: 30px;
    }

    h2 {
        color: var(--orange-color);
        position: relative;
        margin-bottom: 3rem;

        &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: var(--orange-color);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10px;
        }
    }

    img {
        width: 100%;
    }
}

.info {
    background-color: var(--orange-color);
    position: relative;
    overflow: hidden;

    .married {
        width: 50%;
    }

    .photo-frame {    
        text-align: center;

        img {
            max-height: 30vh;
            object-fit: contain;
            border-radius: 5px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
        }
    } 
}

.timeline {
    background-color: var(--champagne-color);
    position: relative;

    .married {
        width: 60%;
    }

    .page {
        color: var(--brown-color);
    }

    .timeline-container {
        height: 70vh;
        overflow: scroll;
    }
}

.contact {
    background-color: var(--champagne-color);
    overflow: auto;
    padding: 5vh 2vw;
    position: relative;

    .show-btn {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 2px solid #FBF7F4;
        border-radius: 5px;
        padding: 20px 5px;
        height: auto;
        overflow: scroll;
    }

    .comment {
        background-color: #FBF7F4;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .name {
            background-color: #EED2CC;
            padding: 8px 10px;
        }

        .content {
            padding: 8px 10px;
        }
    }

    .form-container {
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &.hide {
            opacity: 0;
            visibility: hidden;
        }

        .hide-btn {
            background-color: #946c52;
            color: #e0e0e0;
        }

        .submit-btn {
            padding: 0 40px;
        }
    }
}

.fp-watermark {
    display: none;
}